<ion-view view-title="Delivery Info">

  <ion-content>

    <div class="list card">

	    <a class="item">
	      <h2>Delivery Time</h2>
	      <p>{{deliveryInfo.delivery_time}} Mints.</p>
	    </a>

	    <a class="item">
	      <h2>Max Delivery Area</h2>
	      <p>{{deliveryInfo.max_delivery_area}} Miles</p>
	    </a>

	    <a class="item">
	      <h2>Minimum Delivery Charge</h2>
	      <p>${{deliveryInfo.min_delivery_charge}}</p>
	    </a>

	    <a class="item">
	      <h2>Tips Rate</h2>
	      <p>${{deliveryInfo.tips_rate}}</p>
	    </a>

	</div>

  </ion-content>
</ion-view>
