<ion-view view-title="Payment Info">
  <ion-content>

	<div class="list card">

	    <a class="item">
	      <h2>Bank Name</h2>
	      <p>{{bankInfo.bank_name}}</p>
	    </a>

	    <a class="item">
	      <h2>Acc. Holder Name</h2>
	      <p>{{bankInfo.holder_name}}</p>
	    </a>

	    <a class="item">
	      <h2>Account No.</h2>
	      <p>{{bankInfo.bank_acc_no}}</p>
	    </a>

	    <a class="item">
	      <h2>Card Type</h2>
	      <p>{{bankInfo.card_type}}</p>
	    </a>

	    <a class="item">
	      <h2>Email</h2>
	      <p>{{bankInfo.email}}</p>
	    </a>

	    <a class="item">
	      <h2>Country</h2>
	      <p>{{bankInfo.country}}</p>
	    </a>

	    <a class="item">
	      <h2>State</h2>
	      <p>{{bankInfo.state}}</p>
	    </a>

	    <a class="item">
	      <h2>Town</h2>
	      <p>{{bankInfo.town}}</p>
	    </a>

	    <a class="item">
	      <h2>Zip Code</h2>
	      <p>{{bankInfo.zip_code}}</p>
	    </a>

	</div>

  </ion-content>
</ion-view>
