<ion-view view-title="Profile">
	<ion-content overflow-scroll="true" padding="true" class="has-header">

		<div class="list card">

			<a class="item">
		      <h2>Name</h2>
		      <p>{{resInfo.res_name}}</p>
		    </a>

		    <a class="item">
		      <h2>Restaurent User ID</h2>
		      <p>{{resInfo.res_user_id}}</p>
		    </a>

		    <a class="item">
		      <h2>Phone</h2>
		      <p>{{resInfo.phone}}</p>
		    </a>

		    <a class="item">
		      <h2>Owner Email</h2>
		      <p>{{resInfo.res_owner_email}}</p>
		    </a>

			<a class="item">
		      <h2>FAX</h2>
		      <p>{{resInfo.fax_no}}</p>
		    </a>

		    <a class="item">
		      <h2>Owner Name</h2>
		      <p>{{resInfo.res_owner_name}}</p>
		    </a>

		    <a class="item">
		      <h2>Country</h2>
		      <p>{{resInfo.res_country}}</p>
		    </a>

		    <a class="item">
		      <h2>State</h2>
		      <p>{{resInfo.res_state}}</p>
		    </a>
		    
		    <a class="item">
		      <h2>Town</h2>
		      <p>{{resInfo.res_town}}</p>
		    </a>
		    <a class="item">
		      <h2>Zipcode</h2>
		      <p>{{resInfo.res_zipcode}}</p>
		    </a>

		    <a class="item">
		      <h2>Tax Rate</h2>
		      <p>{{resInfo.res_tax_rate}}</p>
		    </a>
		    

		</div>

	</ion-content>
</ion-view>
