<ion-view title="Driver Info">
    <ion-content overflow-scroll="true" padding="true" class="has-header">

        <div class="list card">

            <a class="item">
              <h2>Name</h2>
              <p>{{driver.driver_name}}</p>
            </a>

            <a class="item">
              <h2>License No.</h2>
              <p>{{driver.driver_license}}</p>
            </a>

            <a class="item">
              <h2>Username</h2>
              <p>{{driver.driver_user_name}}</p>
            </a>

            <a class="item">
              <h2>Password</h2>
              <p>{{driver.driver_password}}</p>
            </a>

            <a class="item">
              <h2>Phone Number</h2>
              <p>{{driver.driver_phone}}</p>
            </a>

            <a class="item">
              <h2>Position</h2>
              <p>{{driver.driver_position}}</p>
            </a>

            <a class="item">
              <h2>Status</h2>
              <p>{{driver.driver_status}}</p>
            </a>

        </div>

    </ion-content>
</ion-view>